@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
}

/* dashboard sidebar css */
.dash-title{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0;
}
.dash-menu{
  color: rgb(230, 230, 230);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-radius: 8px;
}
.dash-menu:hover{
  background-color: rgba(211, 208, 208, 0.301);
  cursor: pointer;
  color: #fff;
}
.dash-menu:hover .arrow-icon{
  rotate: 90deg;
  transition: all 0.5s;
}
/* dashboard header css */
.search-box{
  @apply px-2 py-1 rounded-md
}
